# Print Functionality

In [ ]:
print('Hello world')

Hello world

In [ ]:
print("K k menon")

K k menon

In [ ]:
print(salman khan)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-1115953987.py, line 1)

In [ ]:
print(7)

7

In [ ]:
print(7.7)

7.7

In [ ]:
print(True)

True

In [ ]:
print('Hello',2,4.4,True)

Hello 2 4.4 True

In [ ]:
print('Hello',2,4.4,True,sep='/')

Hello/2/4.4/True

In [ ]:
print('Hello',2,4.4,True,sep=' ')

Hello 2 4.4 True

In [ ]:
print('hello',end=' ')
print('World')

hello World

In [ ]:
print('hello')
print('World')

hello
World

# Data Types(Dtypes)

In [ ]:
# Integer
print(8)

8

In [ ]:
#Float/Decimal
print(8.8)

8.8

In [ ]:
#String/Text
print("Hello World")

Hello World

In [ ]:
#Boolean
print(True)
print(False)

True
False

In [ ]:
#Complex
print(3+4j)

(3+4j)

In [ ]:
#List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
#Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
#Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
#Dictionary
print({'name':'Rajvardhan','Gender':'Male'})

{'name': 'Rajvardhan', 'Gender': 'Male'}

In [ ]:
#type Function -> Tells datatype of any data
type(8)

int

In [ ]:
type("Helo")

str

In [ ]:
type({1,2,3})

set

In [ ]:
type(3+4j)

complex

# Varaibles

In [ ]:
name = "Raj"
print(name)

Raj

In [ ]:
name =5
print(name)

5

In [ ]:
#dynamic typing
value = 50000

#Static typing
int value = 50000

SyntaxError: invalid syntax (ipython-input-1462977084.py, line 5)

In [ ]:
#Dynamic binding
name = 5
print(name)
name = "Rajvardhan"
print(name)

5
Rajvardhan

In [ ]:
#Static binding
int c = 10
int c = "Raj"

SyntaxError: invalid syntax (ipython-input-507020671.py, line 2)

In [ ]:
#stylish techniques of varaible declaring
#normal
a = 4
b=5
c=6
print(a+b+c)
print(a,b,c)

15
4 5 6

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

In [ ]:
# Commnets
#This is commnt
#This is single line commnet

# Keywords and Identifiers

In [ ]:
#Keywords are reserved words
#python uses interpretor.
#Interpretor = high level language to low leval language(binary)
#Keyword don't used as normal words.

In [ ]:
#identifiers = Names [varaible,function,class]
#1} Can't start with digit
#2]Can't use keyword
#3]Special character only '_' (underscore) is allowed

# All allowed ->name ,first_name , _, name1_king
# Not aloowed -> 1name

## Input Function

In [ ]:
input()

Raj

'Raj'

In [ ]:
input("Enter your name ")

Enter your name Raj

'Raj'

In [ ]:
# Static vs Dynamic software
# Static = no user input -> ex]calender,clock,blog -> 1% softwares of the world
#Dynamic = user input -> ex] Zomato,Youtube , Chrome ->99% of world sofwares are dynamic

In [ ]:
#Getting inputs from user
first = input('Enter first number ')
second = input('Enter second number ')
#Addting both inputs and store in varaible
sum = (first) + (second) ## it is type casting.
#display result
print(sum)

Enter first number 10
Enter second number 20
1020

In [ ]:
# why ans is like 1020
# beacause python by deafult take input as "String"
# why string = String is universal fomat , you can store any other type of data in string

In [ ]:
#Getting inputs from user
first = input('Enter first number ')
second = input('Enter second number ')
#Addting both inputs and store in varaible
sum = int(first) + int(second) ## it is type casting.
#display result
print(sum)

Enter first number 20
Enter second number 30
50

In [ ]:
#Getting inputs from user
first = int(input('Enter first number ')) # This will change the datatype becaz you are storing the variable with converted datatype
second = int(input('Enter second number '))
#Addting both inputs and store in varaible
sum = int(first) + int(second)
#display result
print(sum)
type(first)

Enter first number 20
Enter second number 30
50

int

## Type conversion

In [ ]:
#Implicit and explicit
#Type conversion -> From one data type to another

In [ ]:
#Implicit
#Python by itself do conversion
print(5 + 5.6)

10.6

In [ ]:
print(type(5),type(5.6))

<class 'int'> <class 'float'>

In [ ]:
print(4 +'4')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#Explicit
#We told pyhon to please change dtype

In [ ]:
# str -> int
type(int('4'))

int

In [ ]:
# int -> str
type(str(4))

str

In [ ]:
# before doing explicit convertion think about it is possible or not
# complex -> int

int((4+5j))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
## Python interview aspect:
# Python type conversion dont make any changes in original data it create completely new object in memory and we perform operations on it
#You may give the code snippet and ask about output

## **Literal**

In [ ]:
# Literal = value of varaible
# sum = 15 -> sum is varaible, = is operator , 15 is literal ,dtype is data type of literal
#1]
# INT LITERAL
a = 0b1010 # Binary literal. Represented using 0b at begining
b = 1010 # Decimal(normal) literal.
c = 0o1010 # Octal literal. Represented using 0o at begining
d = 0x1010 # Hexadecimal literal. Represented using 0x at begining

In [ ]:
print(a,b,c,d,sep='\n')

10
1010
520
4112

In [ ]:
#2]FLOAT LITERAL
float_1 = 23.45 # Manually defining literal
float_2 = 1.5e3 #scientifically defiend(positive) -> 1.5e2= 1.5*10^2
float_3 = 1.5e-3 #scientifically defiend(Negative) -> 1.5e2= 1.5*10^-3

In [ ]:
print(float_1,float_2,float_3)

23.45 1500.0 0.0015

In [ ]:
#3]COMPLEX LITERAL
comp = 4+5j
comp2 = 4.5j

print(comp.real,comp.imag,sep=',')

4.0,5.0

In [ ]:
#3]STRING LITERAL
a = 'This is python'
b = "This is python"
c = """This is also string """
d = u'\U0001f600'
e = r'\n,\t these all are raw strings'

In [ ]:
print(a,b,c,d,e,sep='\n')

This is python
This is python
This is also string
ðŸ˜€
\n,\t these all are raw strings

In [ ]:
#4]BOOLEAN LITERAL
#Python treats boolean exp's as the numbers in mathematical exp's -> thismay be asked in interviws as code snippet
A = True + 4
B = False + 20
print(A,B,sep='\n')

5
20

None

In [ ]:
#Used to decleare varaible in python
#As we know we cant declare varaible initially in python so assign value 'None ' is a way to decleare a varaible.

In [ ]:
aman = None
b = 40
c = 80
print(b+c)

120

In [ ]:
aman = None
print(aman)

None